.box {
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

/* .box {
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
    padding: 0px 20px;
} */

.loginSection {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.inputForm {
    border-style: none;
    height: 50px;
    width: 400px;
    margin: 4px;
    padding-left: 10px;
}

.inputForm::placeholder {
    color: gray;
    /* text-indent: 5px; */
}

.clickLogin,
.clickLogin.disabled,
.clickLogin.disabled:hover {
    border-style: none;
    background-color: rgb(185, 238, 131);
    height: 45px;
    width: 400px;
    margin: 5px;
    font-size: medium;
    font-weight: 500;
    color: white;
}

.clickLogin.disabled {
    cursor: not-allowed;
}

.clickLogin:hover {
    background-color: rgb(169, 219, 118);
    color: black;
    font-weight: 800;
    cursor: pointer;
}

/* .clickLogin.disabled:hover {
    cursor: not-allowed;
} */

.clickLogin:hover:not(.disabled) {
    background-color: rgb(169, 219, 118);
    color: black;
    font-weight: 800;
    cursor: pointer;
}

.clickLogin:not(.disabled):hover {
    background-color: rgb(169, 219, 118);
    color: black;
    font-weight: 800;
    cursor: pointer;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.SignUp,
.FindId {
    background: none;
    border-style: none;
    margin-bottom: 10px;
}

/* .showPassword {
    background-image: url(../assets/show-password.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.hidePassword {
    background-image: url(../assets/hide-password.svg);
    background-image: no-repeat;
} */


.SignUp:hover,
.FindId:hover {
    cursor: pointer;
    color: gray;
}

.isPWHideButton {
    background-img: url(../assets/hide-password.svg);
    width: 30px;
    height: 30px;

}

.autoLogin {
    cursor: pointer;
    background-color: rgb(233, 230, 230);
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;

}

.isAutoLogin {
    margin: 5px;
    text-justify: center;
    align-items: center;
}