.box {
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


.loginSection {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.inputForm {
    border-style: none;
    height: 50px;
    width: 400px;
    margin: 3px;
}

.inputForm::placeholder {
    color: gray;
    text-indent: 10px;
}

.clickLogin,
.clickLogin.disabled,
.clickLogin.disabled:hover {
    border-style: none;
    background-color: rgb(185, 238, 131);
    height: 45px;
    width: 400px;
    margin: 5px;
    font-size: medium;
    font-weight: 500;
    color: white;
}

.clickLogin.disabled {
    cursor: not-allowed;
}

.clickLogin:hover {
    background-color: rgb(169, 219, 118);
    color: black;
    font-weight: 800;
    cursor: pointer;
}

/* .clickLogin.disabled:hover {
    cursor: not-allowed;
} */

.clickLogin:hover:not(.disabled) {
    background-color: rgb(169, 219, 118);
    color: black;
    font-weight: 800;
    cursor: pointer;
}

.clickLogin:not(.disabled):hover {
    background-color: rgb(169, 219, 118);
    color: black;
    font-weight: 800;
    cursor: pointer;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.SignUp,
.FindId {
    background: none;
    border-style: none;
    margin-bottom: 10px;
}


.SignUp:hover,
.FindId:hover {
    cursor: pointer;
    color: gray;
}