.box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* justify-content: center;
    align-items: center; */
}

.loginSection {
    /* background-color: blue; */
    width: 400px;
    min-height: 100vh;
    border: 1px solid black;
    /* poisition: absolute; */
    top: 50%;
    left: 35%;
    margin: 50px 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

}

.inputForm {
    border-style: none;
    height: 50px;
    width: 300px;
    margin: 3px;
    /* height: 2/3; */
}

.clickLogin {
    border-style: none;
    background-color: rgb(185, 238, 131);
    height: 30px;
    width: 300px;
    margin: 5px;
}

.clickLogin:hover {
    background-color: rgb(169, 219, 118);
}

.buttonGroup {
    display: flex;
    justify-content: center;
    margin: 3px;
}

.SignUp,
.findId {
    background: none;
    border-style: none;
    margin-bottom: 10px;
}


.SignUp:hover,
.findId:hover {
    cursor: pointer;
    color: gray;
}