.container {
    display: grid;
    padding: 30px;
    height: 100vh;
    grid-template-areas:
        "login banner banner"
        "login banner banner"
        "login banner banner"
        "searchbar island event"
        "sidebar board1 board2"
        "sidebar board1 board2"
        "sidebar gallery gallery"
        "sidebar gallery gallery";
}

.item {
    width: auto;
    border: 1px solid black;
}

.loginbox {
    grid-area: login;
}

.banner {
    grid-area: banner;
    height: auto;
}

.searchbar {
    grid-area: searchbar;
}

.sidebar {
    grid-area: sidebar;
}

.island {
    grid-area: island;
}

.event {
    grid-area: event;
}

.board1 {
    grid-area: board1;
}

.board2 {
    grid-area: board2;
}

.gallery {
    grid-area: gallery;
    width: auto;
    height: auto;
}