.postContainer {
    position: relative;
    width: 60%;
    height: fit-content;
    left: 27%;
    bottom: 60%;
    /* transform: translate(40%, -80%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.6)
}

.postViewer {
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 10px;
}

.viewerTitle {
    border: 1px solid black;
    width: 50%;
    height: 30px;
}

.contentViewer {
    width: 35rem;
    height: 25rem;
    border: 2px solid black;
    padding: 10px;
}

.contentAuthor {
    font-weight: 800;
}

.commentSection {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.replysection {
    border-style: none;
    width: 40rem;
    min-height: 2rem;
    height: fit-content;
    resize: none;
    /* margin-top: 10px; */
    padding: 10px;
}

.likeButton {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
}

.liked {
    width: 30px;
    height: 30px;
    background-image: url(/src/assets/full_heart.svg);
    background-repeat: no-repeat;
    background-size: cover;

}

.unliked {
    width: 30px;
    height: 30px;
    background-image: url(/src/assets/empty_heart.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}