body {
    overflow-x: auto;
}

.viewerLayout {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.profileContainer,
.menuContainer {
    flex: 1;
}

.postContainer {
    /* position: relative; */
    margin: 0 auto;
    width: 60%;
    height: fit-content;
    /* left: 27%; */
    /* bottom: 60%; */
    /* transform: translate(40%, -80%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.8);

}

.postViewer {
    width: 100%;
    height: 100%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 10px;
}

.viewerTitle {
    /* border: 1px solid black; */
    width: fit-content;
    height: 30px;
}

.contentViewer {
    width: 95%;
    height: 25rem;
    border-top: 1px solid lightgray;
    padding-left: 13px;

}

.categoryBtn {
    font-size: medium;
    color: rgb(17, 181, 17);
    font-weight: 700;
}

.postWriterInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.postWriterProfileImgContainer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

}

.postWriterProfileImg {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: scale(3.5);
    position: absolute;
    top: 40px;
}



.contentAuthor {
    font-weight: 800;
}

.commentSection {
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 97%;
}

.replyInput {
    background-color: transparent;
    border-style: none;
    width: 100%;
    min-height: 3rem;
    height: fit-content;
    resize: none;
    /* margin-top: 10px; */
    padding: 10px;
}

.replyInput:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.replyForm {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    justify-content: space-between;
    align-items: end;
}

.replySubmitBtn {
    width: 70px;
    height: 50px;
    background-color: transparent;
    font-weight: 500;
    font-size: small;
}

.likeButton {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
}

.liked {
    width: 20px;
    height: 20px;
    background-image: url(/src/assets/full_heart.svg);
    background-repeat: no-repeat;
    background-size: cover;

}

.unliked {
    width: 20px;
    height: 20px;
    background-image: url(/src/assets/empty_heart.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.displayName {
    margin-left: 15px;
    margin-top: 15px;
    font-weight: 700;
    font-size: small;
}

/* 미디어 쿼리 */
@media (max-width: 768px) {
    .postContainer {
        width: 90%;
        /* 작은 화면에서는 90% 너비 */
    }
}

@media (min-width: 769px) {
    .postContainer {
        width: 60%;
        /* 큰 화면에서는 60% 너비 */
    }
}

@media (min-width: 1200px) {
    .postContainer {
        width: 50%;
        /* 매우 큰 화면에서는 50% 너비 */
    }
}